.cards {
  margin: 20px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px;
    height: 136px;
    border: solid 2px #e4e8f0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }

  &__wrapper {
    display: flex;
  }

  &__img {
    &--original {
      margin-top: -10px;
      padding-right: 15px;
    }
  }

  &__text {
    max-width: 350px;
  }

  &__view__btn {
    display: none;
  }

  &__btn {
    width: 36px;
    height: 34px;
    border: solid 2px #2c49c5;
    background-color: transparent;
    margin-right: 24px;
    outline: none;
    transition: all 0.2s;
  }

  &__btn > i {
    color: #2c49c5;
  }

  &__btn:hover {
    cursor: pointer;
    border-color: #000;
  }

  &__btn > i:hover {
    color: #000;
  }

  &__offers {
    flex-basis: 47%;
    padding-top: 10px;
    .offers {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    .offers__price {
      display: flex;
      flex-direction: row;
      // margin-left: 29px;
      margin: 0 14.5px 0 14.5px;
      font-size: 14px;
      font-weight: 900;
    }

    .offers__title {
      font-size: 0.65rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #7d8295;
      margin-bottom: 10px;
    }

    .offers__item {
      margin-right: 44px;
    }

    .offers__item > input {
      background-color: #ffffff;
      margin-bottom: 10px;
    }

    .offers__item > span {
      width: 100%;
    }

    .offers__price__item {
      margin-right: 47px;
      width: 65px;
    }
  }
}

.text__details {
  display: flex;
  margin-bottom: 20px;
}

.text__title {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 26px;
  padding: 5px 5px 10px 5px;
  color: #262e4f;
}

.details__range {
  margin-right: 20px;
  color: #9296a6;
}

.details__view {
  color: #2c49c5;
  transition: all 0.2s;
}

.details__view:hover {
  text-decoration: underline;
  cursor: pointer;
}

.details__view > i {
  transform: rotate(-45deg);
}


.offers__item__price {
  font-size: 14px;
  font-weight: bold;
  min-width: 70px;
  margin-left: 20px;
}