.wrapper {
  display: flex;
  max-width: 1336px;
  justify-content: center;
}

.cards {
  margin: 20px;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 25px 20px 20px 20px;
    box-sizing: border-box;
    min-height: 136px;
    border: solid 2px #e4e8f0;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
  }

  &__wrapper {
    display: flex;
  }

  &__img {
    &--original {
      margin-top: -5px;
      padding: 0 15px 0 10px;
    }
  }

  &__text {
    max-width: 398px;
  }

  &__view__btn {
    display: none;
  }

  &__btn {
    width: 36px;
    height: 34px;
    border: solid 2px #2c49c5;
    background-color: transparent;
    margin-right: 24px;
    outline: none;
    transition: all 0.2s;
    margin: auto 0;
  }

  &__btn > i {
    color: #2c49c5;
  }

  &__btn:hover {
    cursor: pointer;
    border-color: #000;
  }

  &__btn > i:hover {
    color: #000;
  }

  &__offers {
    flex-basis: 47%;
    padding-top: 10px;
    .offers {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      &__price {
        display: flex;
        flex-direction: row;
        margin: 0 14.5px 0 14.5px;
        font-size: 14px;
        font-weight: 900;
      }

      &__title {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        color: #7d8295;
        margin-bottom: 10px;
      }

      &__item {
        margin-right: 44px;
      }

      &__item > input {
        background-color: #ffffff;
        margin-bottom: 10px;
      }
  
      &__item > span {
        flex-grow: 1;
      }

      &__price__item {
        margin-right: 47px;
        width: 65px;
      }

      &__item__price {
        font-size: 14px;
        font-weight: bold;
        min-width: 70px;
        margin: 10px 0 0 20px;
      }
    }
  }
}

.text__details {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.text__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
  padding: 0 5px 10px 5px;
  color: #262e4f;
}

.details__range {
  margin: 0 20px 0 5px;
  color: #9296a6;
}

.details__view {
  color: #2c49c5;
  transition: all 0.2s;
}

.details__view:hover {
  text-decoration: underline;
  cursor: pointer;
}

.details__view > i {
  transform: rotate(-45deg);
}

