.delete {
  width: 170px;
  height: 70px;
  border: 1px solid red;
  background-color: red;
  border-radius: 25px;
  text-align: center;
  line-height: 4;

  &__popup {
    display: none;
  }

  &__btn--main {
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
}