html {
  font-size: 62.5%;
}

.wrapper {
  margin: 127px auto;
  max-width: 1338px;
}

.header {
  margin-bottom: 40px;

  &__body {
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__item:not(:last-child):after {
    content: '\01F86A';
    width: 16px;
    height: 16px;
    color: #262e4f;
    margin: 0 20px;
  }

  &__item {
    font-size: 1.25rem;
    font-family: 'Avenir', 'sans-serif';
    font-weight: bold;
    transition: all 0.2s;
    color: #262e4f;
    &--disabled {
      color: #d4d5dc;
    }
  }

  &__item:hover {
    transform: scale(1.2);
    font-weight: bold;
    padding: 0;
    display: block;
    cursor: pointer;
  }

  &__item > i {
    padding: 0 20px;
  }
}

li > i {
  pointer-events: none;
}

.cards {
  // &__body {
  // }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 136px;
    border: solid 2px #e4e8f0;
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
  }

  &__img {
    &--original {
      padding: 20px 23px 0 30px;
    }
  }

  &__text {
    padding-top: 30px;
    max-width: 331px;
  }

  &__view__btn {
    display: none;
  }

  &__btn {
    margin: auto 0;
    width: 36px;
    height: 34px;
    border: solid 2px #2c49c5;
    background-color: transparent;
    margin-right: 24px;
    outline: none;
    transition: all 0.2s;
  }

  &__btn > i {
    color: #2c49c5;
  }

  &__btn:hover {
    cursor: pointer;
    border-color: #000;
  }

  &__btn > i:hover {
    color: #000;
  }

  &__offers {
    flex-basis: 47%;
    padding-top: 40px;
    .offers {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    .offers__price {
      display: flex;
      flex-direction: row;
      // margin-left: 29px;
      margin: 0 14.5px 0 14.5px;
      font-size: 14px;
      font-weight: 900;
    }

    .offers__title {
      font-family: DINPro;
      font-size: 0.65rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #7d8295;
      margin-bottom: 10px;
    }

    .offers__item {
      margin-right: 44px;
    }

    .offers__item > input {
      border: solid 2px #e4e8f0;
      background-color: #ffffff;
    }

    .offers__price__item {
      margin-right: 47px;
    }
  }
}

.text__details {
  display: flex;
  margin-bottom: 20px;
}

.text__title {
  font-family: Avenir;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 26px;
  margin-bottom: 10px;
  color: #262e4f;
}

.details__range {
  margin-right: 20px;
  color: #9296a6;
}

.details__view {
  color: #2c49c5;
  transition: all 0.2s;
}

.details__view:hover {
  text-decoration: underline;
  cursor: pointer;
}

.details__view > i {
  transform: rotate(-45deg);
}
