@font-face {
    font-family: 'Avenir';
    src: url('../../fonts/AvenirNextLTPro-Demi.otf');
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../../fonts/Avenir-Roman.ttf');
}

@font-face {
    font-family: "dinpro";
    src: url('../../fonts/DINPro.ttf');
}
