@media only screen and (max-width: 600px) {
  .wrapper {
  }

  .text__details {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .details__range {
    margin-left: 10px;
  }

  .header {
    &__list {
      flex-wrap: wrap;
    }
  }

  .text__title {
    font-size: 18px;
    line-height: 24px;
  }

  .cards {
    &__wrapper {
      flex-direction: column;
      width: 100%;
    }

    &__img--original {
      padding: 10px 0 0 10px;
      width: 34px;
      height: 34px;
    }

    &__item {
      height: auto;
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    &__btn {
      display: none;
    }

    &__view__btn {
      display: block;
      margin: 0 auto;
      border: none;
      background-color: transparent;
      font-size: 14px;
      line-height: 20px;
      font-weight: 900;
      color: #2c49c5;
      outline: none;
      transition: all 0.2s;
    }

    &__view__btn:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    &__offers {
      margin: 0;
      flex-wrap: nowrap;
      flex-direction: column;
      padding-top: 10px;
      width: 100%;
      .offers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 13px;
      }

      .offers__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .offers__title {
        padding-top: 0;
        margin-left: 10px;
        min-width: 120px;
        width: 100%;
      }

      .offers__item {
        width: 90%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e4e8f0;
        padding: 15px 0;
      }

      .offers__item:nth-child(1) {
        border-top: 1px solid #e4e8f0;
      }

      input {
        margin-right: 5px;
      }

      label {
        margin-right: 30%;
        font-size: 16px;
        line-height: 20px;
      }

      .offers__price {
        flex-direction: column;
      }

      .offers__price__item {
        margin-bottom: 22px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 690px;
  }

  .header {
    &__item {
      font-size: 1rem;
    }

    &__item:not(:last-child):after {
      margin: 0 11px;
    }

    &__item:hover {
      transform: scale(1.1);
      font-weight: bold;
      padding: 0;
      display: block;
    }
  }

  .cards {
    &__wrapper {
      order: -1;
      width: calc(100% - 100px);
    }

    &__item {
      height: 174px;
      flex-wrap: wrap;
      // flex-direction: row-reverse;
    }

    &__text {
      max-width: 462px;
    }

    &__btn {
      order: -1;
    }

    &__offers {
      margin: 0 0 30px 65px;
      padding-top: 10px;
      display: flex;
      flex-basis: 100%;
      .offers {
        margin-left: 27px;
      }

      .offers__price {
        margin-left: 46px;
      }

      .offers__title {
        max-width: 82px;
        padding-top: 0;
      }

      .offers__item {
        margin-right: 22px;
      }

      .offers__price__item {
        margin-right: 34px;
        width: 80px;
      }

      // .offers__item__price {
      //   min-width: 70px;
      // }
    }
  }

  .text__title {
    font-size: 16px;
    line-height: 24px;
  }
}
