.form {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;

  &__validate {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    padding: 20px;
    border: 1px solid black;
  }

  &__title {
      text-align: center;
  }

  &__field {
      width: 370px;
      margin: 0 auto;
  }


}
