@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  background-color: #102250;
}



.form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;



  &__validate {
    width: 356px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }

  &__title {
    text-align: center;
    font-size: 29px;
    font-weight: 600;
    font-family: "Roboto", "sans-serif";
    margin-bottom: 55px;
  }

  &__field {
    margin-bottom: 35px;
  }

  &__name, &__password, &__select {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #F5F8FA;
    border: 1px solid #DBE0E4;
    outline: none;
    padding-left: 40px;
  }

  &__field > span > label {
    font-size: 12px;
    margin-right: 18px;
    font-weight: 500;
    color: #000;
  }
 
  &__field > span > input[type="checkbox"] {
    background-color: #F5F8FA;
    border: 1px solid black;
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    position: relative;
    margin-bottom: 20px;
  }

  &__field > span > input[type="checkbox"]:checked {
    background-color: #F5F8FA;
    border: 1px solid #2290df;
  }

  &__field > span > input[type="checkbox"]:checked:after {
    content: "✓";
    font-size: 16px;
    position: absolute;
    top: -10px;
    left: 1px;
    color: #2290df;
    margin-top: 5px;
  }

  &__field i {
    color: #BABCBE;
    position: absolute;
    padding: 15px 0 0 15px;
  }

  &__field > .fa-eye {
    position: absolute;
    margin-left: -40px;
  }

  &__field  .fa-eye:hover {
    cursor: pointer;
    color: #000;
  }

  &__field > span > label > a {
    color: #2290df;
    text-decoration: none;
  }

  &__error {
    border: 1px solid #cc0033 !important;
  }

  &__error--password, &__error--name, &__error--country {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
    display: none;
  }

  &__btn {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #f5f8fa;
    outline: none;
    border: 1px solid #0000000c;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s;
    margin-bottom: 31px;
  }

  &__btn:hover {
    background-color: #2290df;
    color: #f5f8fa;
    cursor: pointer;
  }


}
