@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  padding: 20px;
  background-color: #102250;

  &__validate {
    width: 100%;
    max-width: 356px;
    min-height: 520px;
    padding: 50px 20px 20px 20px;
    background-color: #fff;
    border-radius: 8px;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Roboto', 'sans-serif';
    margin-bottom: 58px;
  }

  &__field {
    margin-bottom: 33px;
  }

  &__field:nth-child(6) {
    margin-bottom: 55px;
  }

  &__select {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding-left: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: #f5f8fa !important;
    border: 1px solid #dbe0e4;
    color: #babcbe;
    background: url(https://cdn.icon-icons.com/icons2/936/PNG/512/angle-arrow-down_icon-icons.com_73683.png) 95.5% 56% no-repeat;
    background-size:2%;
  }

  &__name,
  &__password {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #f5f8fa;
    border: 1px solid #dbe0e4;
    outline: none;
    padding-left: 40px;
  }

  &__field > span > label {
    font-size: 12px;
    margin-right: 18px;
    font-weight: 500;
    color: #000;
  }

  &__field > span > input[type='checkbox'] {
    appearance: none;
    background-color: #f5f8fa;
    border: 1px solid #dbe0e4;
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    position: relative;
    margin-bottom: -2px;
  }

  &__field > span > input[type='checkbox']:checked {
    background-color: #f5f8fa;
    border: 1px solid #2290df;
  }

  &__field > span > input[type='checkbox']:checked:after {
    content: '✓';
    font-size: 16px;
    position: absolute;
    top: -10px;
    left: 1px;
    color: #2290df;
    margin-top: 5px;
  }

  &__field i {
    color: #babcbe;
    position: absolute;
    padding: 12px 0 0 15px;
    font-size: 17px;
  }

  &__field > .fa-lock {
    font-size: 20px;
  }

  &__field > .fa-eye {
    position: absolute;
    padding: 12px 0 0 15px;
    margin-left: -45px;
    font-size: 15px;
  }

  &__field .fa-eye:hover {
    cursor: pointer;
    color: #000;
  }

  &__field > span > label > a {
    color: #2290df;
    text-decoration: none;
  }

  &__error {
    border: 1px solid #cc0033 !important;
  }

  &__error--password,
  &__error--name,
  &__error--country {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
    display: none;
  }

  &__btn {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #f5f8fa;
    outline: none;
    border: 1px solid #0000000c;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s;
  }

  &__btn:hover {
    background-color: #2290df;
    color: #f5f8fa;
    cursor: pointer;
  }
}
